Repository voxpupuli/puppet-hiera, pull requests merged in 2024-08, with the labels that each got.

#335 drop EOL el7 and Debian 10
  metadata.json
Labels: backwards-incompatible

#310 Update GPG example to match defaults
  README.md
Labels: docs

#336 Drop EOL CentOS 8
  metadata.json
Labels: backwards-incompatible

#334 release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
